 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>With nearly 25 years of development experience, we have worked with a myriad of nonprofit organizations across the sector.  Our services are designed to help nonprofits develop strong, successful proposals, strategies, and tools to support and drive your mission.  Projects are carefully catered to each organization’s specific demands, utilizing a client-centered approach that ensures our deliverables match your needs.</p>
                    <br/>
                    
                    <p>Call or email to discuss your organization’s needs and how Coplan Consulting can help.</p>                 
                </div>
            </div>
        </div>
    </section>
