<!-- About Section -->
<section class="success" id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Services</h2>
        <hr class="star-white">
      </div>
    </div>

    <style>
      @media screen and (min-width: 1200px) {
      #toprow{
      padding-bottom: 30px !important;
      }
        
        .left{
          padding-right: 40px !important;
        }
        
        .right{
          padding-left:40px !important;
        }                   
      } 
      
      @media screen and (max-width: 1199px){
       .title-header {
         margin-top: 25px;
        }
      }
      
      
      
      .img-logo {
        width: 50px !important;
        height: 50px !important;       
      }
    </style>

    <div class="row" id="toprow"> 
      
      <div class="col-lg-6 left">
        
        <p class="title-header"><img src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/512/cog-icon.png" width="50" height="50" alt="Icon" /><span style="padding-left: 10px;">Grantwriting:</span></p>                    
        
        <p>We build proposals from concept to submission in various forms including Common Grant Application, online submissions, and state and federal RFPs.  Proposals and level of involvement are catered to the client’s specific needs, whether customized for a particular project, funder, or RFP, or creating a generic proposal that can be later tailored to various proposals.</p>
      </div>      
      <div class="col-lg-6 right">
        <p class="title-header"><img src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/512/cog-icon.png" width="50" height="50" alt="Icon" /><span style="padding-left: 10px;">Website Development / Branding:</span></p>                    
        <p>Website Development / Branding: Establishing and maintaining a compelling website that conveys your mission and outcomes is essential in our tech-savvy world.  Regardless of your agency’s size, developing a powerful digital presence that engages donors and clients alike is essential in today’s marketplace.  We can help you develop sophisticated digital solutions for organizations of any size.</p>
      </div>        
    </div>
    <div class="row">      
      <div class="col-lg-6 left">
        <p class="title-header"><img src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/512/cog-icon.png" width="50" height="50" alt="Icon" /><span style="padding-left: 10px;">Research / Studies:</span></p>                    
        <p>Research / Studies: Conduct in-depth prospect research, external scans, or feasibilities studies for clients seeking new opportunities.  Strategic planning??</p>
      </div>
      <div class="col-lg-6 right">
        <p class="title-header"><img src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/512/cog-icon.png" width="50" height="50" alt="Icon" /><span style="padding-left: 10px;">Development Strategy:</span></p>                    
        <p>Development Strategy: Review current development strategies and goals to devise a task-oriented plan that can attract and retain funding.</p>
      </div>
    </div>

  </div>
</section>
